<div class="modal-content userDetail autoclose">
    <div class="modal-header">
        <h3 data-bind="text: 'Update ' + person().fullName()"></h3>
    </div>
    <div class="modal-body">

        <form class="form-horizontal">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">User Details</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <label class="checkbox-inline">
                                <input type="checkbox" data-bind="checked: person().isAuthorised">
                                Authorised
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <label class="checkbox-inline">
                                <input type="checkbox" data-bind="checked: person().isEnabled">
                                Enabled
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Favourite Colours</h3>
                </div>
                <div class="panel-body" data-bind="foreach: availableColours()">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <label class="checkbox-inline">
                                <input type="checkbox" data-bind="checkedInArray: $parent.person().colours">
                                <span data-bind="text: name"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" data-bind="click: save" class="btn btn-primary">Save</button>
                    <button data-bind="click: cancel" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
